<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{%  if errors %}
    <ul>
        {% for error in errors %}
            <li><?= implode(', ', $error) ?></li>
        {%  endfor %}
    </ul>
{% endif %}
<form action="/update/{{ usuario.id }}" method="post">
    <input name="nombre" value="{{  usuario.nombre }}" type="text" placeholder="Nombre" >
    <input name="email" value="{{ usuario.email }}" type="email" placeholder="Email" >
    <button>Actualizar</button>
</form>
</body>
</html>