<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Es mi blog</title>
</head>
<body>
    <h1>Estas son tus tareas</h1>

    <p>Hola tu nombre es : {{ nombre }}</p>

    {% if tareas|length > 0 %}
        <p>Tus Tareas Son :</p>
        <ul>
            {%  for tarea in tareas  %}
                <li>{{ tarea }}</li>
            {% endfor %}
        </ul>
    {%  else %}
    <p>No hay Tareas</p>
    {%  endif %}
</body>
</html>